<div class="row">
    <div class="alert alert-danger" role="alert" *ngIf="showMessage">
        {{showMessage}}
    </div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-3">
        <img src="assets/image/defaultProfile.jpg" alt="" [style.border-style]="'solid'">
    </div>
    
    <div class="col-6">
        <form #updateForm = "ngForm" (ngSubmit) = "updateSubmit()">
            <div class="row mb-3">
                <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="firstName" name="newFirst" [(ngModel)]="updateAccountObj.firstName">
                </div>
            </div>
            <div class="row mb-3">
                <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastName" name="newLast" [(ngModel)]="updateAccountObj.lastName">
                </div>
            </div>
            <div class="row mb-3">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" name="newEmail" [(ngModel)]="updateAccountObj.email">
                </div>
            </div>
            <div class="row mb-3">
                <label for="role" class="col-sm-2 col-form-label">Role</label>
                <div class="col-sm-10">
                    <select class="form-select" id="role" name="newRole" [(ngModel)]="updateAccountObj.roleId">
                        <option *ngFor="let role of roles" value={{role.id}}>{{role.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" (click)="updateForm.reset()">Cancel</button>
            </div>
        </form>
    </div>
</div>