<div class="row">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-3">
            <img src="assets/image/defaultProfile.jpg" alt="" [style.border-style]="'solid'">
          </div>
          <div class="col-9">
            <div class="card-body">
              <h3 class="card-title">{{projectObj.projectName}}</h3>
              <p class="card-text">{{projectObj.projectDescription}}</p>
              <span class="card-text">Start Date: {{projectObj.startDate | date: 'shortDate'}}</span>
              <p class="card-text">End Date: {{projectObj.endDate | date: 'shortDate'}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <p></p>
    <p></p>
    <p></p>
</div>

<div class="row">
    <h2 style.fontStyle="bold">PROJECT MEMBERS</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts" value="{{account.id}}">
                <th scope="row">{{account.name}}</th>
                <td>{{account.email}}</td>
                <td>{{account.roleName}}</td>
                <td *ngIf="account.status">Online</td>
                <td *ngIf="!account.status">Offline</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <p></p>
    <p></p>
    <p></p>
</div>

<div class="row">
    <h2 style.fontStyle="bold">TASKS</h2>
</div>