<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Project Name</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Start Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="onSelect(project.projectId)" style="cursor: pointer;" *ngFor="let project of projects" value="{{project.accountId}}">
                <td scope="row">{{project.projectName}}</td>
                <td>{{project.projectDescription}}</td>
                <td>{{project.ownerAccount.name}}</td>
                <td>{{project.startDate | date: 'shortDate'}}</td>
                <td>{{project.endDate | date: 'shortDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>