<div class="row">
    <h2 style.fontStyle="bold">PROJECT TASKS</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Due Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="openModal(task.taskId)" *ngFor="let task of tasks" value="{{task.projectId}}">
                <th scope="row">{{task.taskName}}</th>
                <td>{{task.taskDescription}}</td>
                <td>{{task.taskeeAccount.name}}</td>
                <td>{{task.dueDate | date: 'shortDate'}}</td>
                <td *ngIf="task.isCompleted">Completed</td>
                <td *ngIf="!task.isCompleted">Not Completed</td>
            </tr>
        </tbody>
    </table>
</div>

<div [style.display] = "taskModalState ? 'block': 'none'" style="opacity: 1;" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">{{taskObj.taskName}}</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="row" *ngIf="showMessage">
                    <div class="alert alert-success" role="alert" *ngIf = "successMessage">
                        {{showMessage}}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf = "!successMessage">
                        {{showMessage}}
                    </div>
                </div>
                <p>{{taskObj.taskDescription}}</p>
                <span><small class="text-muted">Assigned to: {{taskObj.taskeeAccount.name}}</small></span>
                <p><small class="text-muted">Due Date: {{taskObj.dueDate | date: 'shortDate'}}</small></p>
                <span><small class="text-muted">Completed Date: {{taskObj.completedDate | date: 'shortDate'}}</small></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="markComplete()" *ngIf="!taskObj.isCompleted">Mark Complete</button>
                <button type="button" class="btn btn-primary" disabled *ngIf="taskObj.isCompleted">Completed</button>
            </div>
        </div>
    </div>
</div>

