<div class="row">
    <h2 style.fontStyle="bold">PROJECT TASKS</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Due Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="openModal(task.taskId)" *ngFor="let task of tasks" value="{{task.projectId}}">
                <th scope="row">{{task.taskName}}</th>
                <td>{{task.taskDescription}}</td>
                <td>{{task.taskeeAccount.name}}</td>
                <td>{{task.dueDate | date: 'shortDate'}}</td>
                <td *ngIf="task.isCompleted">Completed</td>
                <td *ngIf="!task.isCompleted">Not Completed</td>
            </tr>
        </tbody>
    </table>
</div>

<div [style.display] = "taskModalState ? 'block': 'none'" style="opacity: 1;" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">{{taskObj.taskName}}</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="row" *ngIf="showMessage">
                    <div class="alert alert-success" role="alert" *ngIf = "successMessage">
                        {{showMessage}}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf = "!successMessage">
                        {{showMessage}}
                    </div>
                </div>
                <p>{{taskObj.taskDescription}}</p>
                <span><small class="text-muted">Assigned to: {{taskObj.taskeeAccount.name}}</small></span>
                <p><small class="text-muted">Due Date: {{taskObj.dueDate | date: 'shortDate'}}</small></p>
                <span><small class="text-muted">Completed Date: {{taskObj.completedDate | date: 'short'}}</small></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="markComplete()" *ngIf="!taskObj.isCompleted">Mark Complete</button>
                <button type="button" class="btn btn-primary" disabled *ngIf="taskObj.isCompleted">Completed</button>
            </div>
        </div>
    </div>
</div>

<div>
    <button type="button" class="btn btn-primary" (click)="openAddModal()">Add Task</button>
</div>
  
<form #addTaskForm = "ngForm">
    <div [style.display] = "addTaskModalState ? 'block': 'none'" style="opacity: 1;" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTaskModalLabel">Add a Task</h5>
                    <button type="button" class="btn-close" (click)="closeAddModal()"></button>
                </div>
                <div class="modal-body">
                    <div *ngIf ="showMessage" [ngStyle]="errorMsgStyle">{{showMessage}}</div>
                    <div class="form-group">
                        <label for="taskName" class="col-form-label">Task Name</label>
                        <div>
                            <input type="text" class="form-control" id="taskName" name="taskName" required>
                            <span [ngStyle]="errorMsgStyle" *ngIf="addTaskForm.controls['taskName'] !== undefined && addTaskForm.controls['taskName'].invalid && (addTaskForm.controls['taskName'].dirty || addTaskForm.controls['taskName'].touched) && addTaskForm.controls['taskName'].errors" class="alert">
                                Task Name required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="taskDescription" class="col-form-label">Task Description</label>
                        <div>
                            <textarea class="form-control" id="taskDescription" name="taskDescription" rows="3" required></textarea>
                            <span [ngStyle]="errorMsgStyle" *ngIf="addTaskForm.controls['projDescription'] !== undefined && addTaskForm.controls['projDescription'].invalid && (addTaskForm.controls['projDescription'].dirty || addTaskForm.controls['projDescription'].touched) && addTaskForm.controls['projDescription'].errors" class="alert">
                                Task Description required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dueDate" class="col-form-label">Due Date</label>
                        <div>
                            <input type="date" class="form-control" id="dueDate" name="dueDate" required>
                            <span [ngStyle]="errorMsgStyle" *ngIf="addTaskForm.controls['dueDate'] !== undefined && addTaskForm.controls['dueDate'].invalid && (addTaskForm.controls['dueDate'].dirty || addTaskForm.controls['dueDate'].touched) && addTaskForm.controls['dueDate'].errors" class="alert">
                                Please select due date.
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputOwner" class="col-form-label">Owner</label>
                        <div>
                            <input type="text" class="form-control" id="inputOwner" name="ownerAccount" placeholder="Becky Ruan" disabled>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeAddModal()">Close</button>
                    <button type="button" class="btn btn-primary" [disabled]="addTaskForm.form.invalid">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>
