<div class="jumbotron jumbotron-fluid" style="background-color: lightblue;">
    <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="row align-items-center">
        <div class="col-6">
          <h1>
            Welcome to
            <span style="color: gray;"> Task Management</span>
          </h1>
          <h2 style="color: cornflowerblue;">Manage your projects and tasks</h2>
        </div>
        <div class="col-6">
          <img src="assets/image/task.jpg" style="mix-blend-mode: multiply;">
        </div>
      </div>
    </div>
</div>

<div>
  <br>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="row">
      <div class="col-4">
        <h3>What is Task Management?</h3>
        <p>Task management is the process of monitoring your project's tasks through their various stages from start to finish. 
          This involves actively making decisions for your tasks to accommodate changes that can occur real-time, with your end goal being the successful completion of your tasks.</p>
      </div>
      <div class="col-4">
        <h3>About</h3>
        <p>Task management is one of the crucial aspects of project management. 
          A typical work breakdown structure divides a project into manageable partitions. 
          These partitions consist of smaller sections, or tasks, and those consist of subtasks at the lowest level. 
          Managing such tasks based on priority, while keeping up with the cost and schedule criteria, forms the basis of task management.</p>
      </div>
      <div class="col-4">
        <h3>Something...</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Pariatur architecto dolores deleniti consectetur et sit laborum, non eius dolorem fugiat molestiae itaque consequuntur ea earum inventore. Repellat iste hic deserunt.</p>
      </div>
    </div>
  </div>
</div>
